.navbar {
	background-color: #f5bb00;
}

.form-control {
	background-color: #eb5228;
}

.navbar-brand h1 {
	color: white;
}

.nav-link {
	color: white;
}

.home {
	background: white url('../images/home-bg.png') !important;
	width: 100%;
}

.forecast {
	background-color: #f0f1f4;
	height: 425px;
	width: 100%;
}

.restaurants {
	background-color: #f5bb00;
	height: 950px;
	width: 100%;
}